.modal {
  border: none;
  padding: 0;
  border-radius: 8px;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.5s, opasity 0.5s;
}

.modal__wrapper {
  position: relative;
  padding: 40px 48px 48px;
}

.modal::backdrop {
  transition: background 0.5s;
}

.modal__close {
  outline: none;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 12px;
  font-size: 16px;
  transition: background .2s, border .2s, color .2s;
  position: absolute;
  top: 12px;
  right: 12px;
  --size: 32px;
  padding: 8px;
  width: var(--size);
  height: var(--size);
  box-sizing: border-box;
  border: none;
  cursor: pointer
}

.modal__close::after,
.modal__close::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 1px;
  border-radius: 5px;
  inset: 0;
  margin: auto;
  background-color: #000;
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

.modal[open] {
  opacity: 1;
  transform: scale(1);
}

.modal[open]::backdrop {
  background: rgba(39 39 39 / 0.4);
}

@starting-style {
  .modal[open] {
    opacity: 0;
    transform: scale(0);
  }

  .modal[open]::backdrop {
    background: rgba(39, 39, 39, 0);
  }
}

.iframe {
  border: none;
  width: 90vw;
  height: 90dvh;
  margin: -40px -48px -48px;
}

.btn-edit {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  padding: 1.2rem;
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #8e9399;
  opacity: .5;
}

.btn-edit:hover {
  opacity: 1;
}